@model QL_Vinpearl.Models.KHACHHANG

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
	string gtinh, sdt, diaChi, ngaySinh = "";
	string gTinh = "";
}
<div class="container emp-profile mt-4">
	<div class="row">
		<div class="col-md-4">
			<div class="profile-img">
				<img style="width: 200px; margin-left: 40%" src="~/Content/img/Avatar/@Html.DisplayFor(model => model.anh)" alt="Chưa Cập Nhật" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="profile-head">
				<h5>
					@Html.DisplayFor(model => model.hoTenKH)
				</h5>
				<h6>
					@Html.DisplayFor(model => model.email)
				</h6>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<span class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Detail</span>
					</li>
				</ul>

				<div class="row">
					<div class="col-md-8">
						<div class="tab-content profile-tab" id="myTabContent">
							<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
								<div class="row">
									<div class="col-md-6">
										<label>Số Điện Thoại</label>
									</div>
									<div class="col-md-6">
										<p>
										@{
											if (Model.SDT == null)
											{
												sdt = "Chưa Cập Nhật";
											}
											else
											{
												sdt = Model.SDT;
											}
											@sdt
										}
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<label>Địa Chỉ</label>
									</div>
									<div class="col-md-6">
										<p>
											@{
												if (Model.diaChi == null)
												{
													diaChi = "Chưa Cập Nhật";
												}
												else
												{
													diaChi = Model.diaChi;
												}
												@diaChi
											}
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<label>Ngày Sinh</label>
									</div>
									<div class="col-md-6">
										<p>
											@{
												if (Model.ngaySinh == null)
												{
													ngaySinh = "Chưa Cập Nhật";
												}
												else
												{
													@Html.DisplayFor(model => model.ngaySinh)
												}
												@ngaySinh
											}
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<label>Giới Tính</label>
									</div>
									<div class="col-md-6">
										<p>
											@{
												if (Model.gioiTinh == null)
												{
													gTinh = "Chưa Cập Nhật";
												}
												else if (Model.gioiTinh == true)
												{
													gTinh = "Nam";
												}
												else if (Model.gioiTinh == false)
												{
													gTinh = "Nữ";
												}
												@gTinh
											}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			@Html.ActionLink("Sửa Thông Tin", "Edit", "KHACHHANG", routeValues: null, htmlAttributes: new { @class = "profile-edit-btn text-decoration-none" })
		</div>
	</div>
</div>