@model QL_Vinpearl.Models.VE

@{
	ViewBag.Title = "Delete";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
	string loaiVe = "";
}
<div class="container">
	<h3>Bạn có chắc chắn muốn xoá vé này không?</h3>
	<p>Tên loại dịch vụ: @Html.DisplayFor(model => model.DICHVU.tenDV)</p>
	<p>
		Loại vé: @{
			if (Model.loaiVe == true)
			{
				loaiVe = "Người Lớn";
			}
			else
			{
				loaiVe = "Trẻ em";
			}
		}
		@loaiVe
	</p>
	<p>Giá tiền: @Html.DisplayFor(model => model.giaTien)</p>
	@using (Html.BeginForm("Delete", "Ves", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		<div class="m-auto">
			<input class="btn btn-primary btn-lg" type="submit" value="Xoá" />
			@Html.ActionLink("Quay Về", "Index", null, new { @class = "btn btn-primary btn-lg" })
		</div>
	}
</div>
